<%- include('../partials/header')-%>
<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Edit Coupon</h2>
                <form action="" method="post">
                <div>
                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>1. General info</h6>
                        </div>
                        <div class="col-md-9">
                            <input type="hidden" name="id" value="<%= id %>">

                            <div class="mb-4">
                                <label class="form-label">Coupon code</label>
                                <input name="couponCode" value="<%= coupon.couponCode %>" class="form-control" required min="" disabled>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <input placeholder="Type here" name="description" value="<%= coupon.description %>" class="form-control" rows="2">
                            </div>
                            
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr class="mb-4 mt-0">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>2. Pricing</h6>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-4">
                                <label class="form-label">Discount Value</label>
                                <input type="number" name="disPrice" value="<%= coupon.discountValue %>" placeholder="Enter below 20%" min="0" max="20" class="form-control">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Minimum order value</label>
                                <input type="number" name="minOrder" min="100" value="<%= coupon.minOrderValue %>" max="10000" placeholder="Type here" class="form-control">
                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                   
                </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section> <!-- content-main end// -->
<%- include('../partials/footer')-%>
