
<%- include('../partials/notUser/header') -%>

<style>
    body {
      text-align: center;
      padding: 40px 0;
      background: #EBF0F5;
    }
      h2 {
        color: #88B04B;
        font-family: "poppins";
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
      }
      p {
        color: #404F5E;
        font-family: "poppins";
        font-size:20px;
        margin: 0;
      }
    .card {
      background: white;
      padding: 60px;
      border-radius: 4px;
      box-shadow: 0 2px 3px #C8D0D8;
      display: inline-block;
      margin: 0 auto;
    }
    form{
        text-align: left;
    }
    .hidden{
        display: none;
    }
   
  </style>
 
    <div class="card">
      <h2>Reset Password?</h2> 
      <p>Please enter your new Password for <%= email %><br>We will send the password reset instructions to the email address for this account.
        If you don't know your email address, please Contact Us for further assistance.<br/><br>
     </p>
     <%
     if(typeof message !== 'undefined' ){
   %>
   <div class="alert alert-success">
     <p style="color: green"><%= message %></p>
   </div>
   <%
     }
   %>
        <form action="/reset-password/<%= email%>" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">New Password</label>
                    <input type="text" class="form-control" required="" id="pass" name="pass" placeholder="Enter password">
                </div>
            </div> 
            <div class="form-group col-md-6">
                    <label for="">Confirm Password</label>
                    <input type="text" class="form-control" required="" id="confirmPass" name="password" placeholder="Re-enter password" onkeyup="validate_password()">
            </div>
            <span id="wrong_pass_alert"></span>
            <div>
              <button type="submit" id="create" onclick="window.location.href='/reset-password/' +'<%= email %>' +document.getElementById('pass').value"></button>
            </div>
        </form>
    </div>
<div>
    <br><br>
</div>

<script>
  function validate_password(){

    let pass = document.getElementById('pass').value
    let confirmPass = document.getElementById('confirmPass').value
    if(pass != confirmPass){
      document.getElementById('wrong_pass_alert').style.color = 'red'
      document.getElementById('wrong_pass_alert').innerHTML = '☒ password is not matched'
      
      document.getElementById('create').disabled = true
      document.getElementById('create').style.opacity = (0.4)
    }

    else{
      document.getElementById('wrong_pass_alert').style.color ='green'
      document.getElementById('wrong_pass_alert').innerHTML = "Password matches"

      document.getElementById('create').disabled = false
      document.getAnimations('create').style.opacity = (1)
    }
  }

  function wrong_pass_alert(email) {
    if(document.getElementById('pass').value != "" &&
       document.getElementById('confirm_pass').value != "") {
          swal("Your response is submitted")
       }else{
        swal("Please fill all the fields")
       }
       
  }


</script>


<%- include('../partials/notUser/footer') -%>

